.character-card {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-top: 8px;
}

.character-card img {
  width: 100px;
  border-radius: 4px;
  flex-shrink: 0;
}

.static-ship-icon img {
  height: 30px;
  width: auto;
  transform: scale(1);
  transform-origin: center center;
  will-change: transform;
  pointer-events: none;
}
